html {
	scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Quicksand',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

/* ----------HEADER STYLE--------- */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgb(255, 255, 255),rgba(255, 255, 255, 0.2)), url(img/bgheader.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header .row .button a{
    font-size: 17px;
    font-weight: 600;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 180px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
    position: relative;
}
.nav-link ul li a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.nav-link ul li i{
    font-size: 18px;
    color: #000;
}
.nav-link ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f68b34;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.header-text{
    width: 70%;
    color: rgb(31, 31, 31);
    text-align: left;
    top: 50%;
    left: 50%;
    margin: auto;
    padding-top: 10%;
    padding-left: 70px;
}
.header-text .button a{
    color: #fff;
}
.header-text h1{
    font-size: 60px;
}
.header-text h3{
    color: #f68b34;
}
.header-text p{
    margin: 10px 0 30px;
    font-size: 15px;
}
.header-icon ul li{
    font-size: 25px;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}
.header-icon ul li a i{
    color: #fff;
}
.heroimages{
    width: 90%;
    margin: auto;
}
.heroimages img{
    width: 400px;
}
.col50{
    width: 50%;
    margin: 15px;
}
nav .fas, nav .far{
    display: none;
}
@media (max-width:1000px) {
    .header{
        overflow: hidden;
    }
    .header .row{
        margin-top: 50px;
    }
    .col50{
        margin: auto;
    }
    .header-text{
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    .header-text h1{
        font-size: 33px;
    }
    .header-text p{
        font-size: 12px;
    }
    .heroimages{
        margin: auto;
        margin: 20px 0;
    }
    .heroimages img{
        width: 100%;
        margin: auto;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #ff9035;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        color: #fff;
        transition: 1s;
    }
    nav .fas, nav .far{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px;
        font-size: 22px;
    }
    .nav-link ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
}

/* ----------OPPORTUNITY SECTION---------- */
.opportunity{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(250, 250, 250));
    background-color: #fafafa;
    padding-bottom: 25px;
}
.opportunity-container{
    width: 80%;
    position: relative;
    margin: auto;
    padding: 55px 40px 0px;
}
.opportunity-title{
    text-align: center;
    font-size: 20px;
    margin: 15px 0 45px;
    color: #25354e;
}
.opportunity-title p{
    font-size: 13px;
    width: 30%;
    margin: 20px auto 0;
}
.opportunity-col{
    flex-basis: 33%;
    box-sizing: border-box;
    transition: 0.5s;
    margin: 0 25px;
    background-color: transparent;
    padding: 30px 22px;
    border-radius: 10px;
}

.opportunity-img{
    width: 70%;
    margin: auto;
    text-align: center;
}
.opportunity-img img{
    width: 135px;
    transition: 0.5s;
    margin: auto;
    border-radius: 100%;
}
.opportunity-text{
    text-align: center;
    padding: 10px 25px;
}
.opportunity-text h3{
    font-size: 16px;
    margin: 9px 0 12px;
    color: #25354e;
}
@media (max-width:1000px){
    .opportunity-col{
        margin: 10px 10px;
        padding: 20px;
    }
    .opportunity-title{
        margin-top: 10px;
    }
    .opportunity-title p{
        width: 90%;
        margin-bottom: 0;
    }
    .opportunity-text{
        margin: 0 20px;
        padding: 10px 20px;
    }
}


/* -----------LEARN MORE DESCRIPTION---------- */
.desc-container{
    width: 65%;
    position: relative;
    margin: auto;
    padding: 20px 40px;
}
.desc-img-col{
    flex-basis: 40%;
}
.desc-img-col img{
    width: 100%;
}
.desc-text-col{
    flex-basis: 60%;
    padding: 20px;
}
.desc-text-col h3{
    font-size: 25px;
    margin-top: 20px;
}
.desc-text-col p{
    font-size: 12px;
    margin: 15px 0;
}
.description .button a{
    color: #fff;
    font-weight: normal;
}
@media (max-width:1000px){
    .desc-img-col img{
        width: 260px;
        margin: auto;
    }
    .desc-img-col{
        text-align: center;
    }
    .desc-text-col{
        text-align: center;
    }
}


/* ----------COURSE SECTION---------- */
.course{
    background-color: #fafafa;
}
.course-container{
    width: 80%;
    position: relative;
    margin: auto;
    padding: 60px 40px;
}
.course-title{
    text-align: center;
    font-size: 20px;
    margin: 15px 0 45px;
    color: #25354e;
}
.course-col{
    flex-basis: 33%;
    box-sizing: border-box;
    transition: 0.5s;
    margin: 0 25px;
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.course-col:hover{
    background-color: #f59242;
    color: #fff;
}
.course-col:hover img{
    width: 90%;
}
.course-img{
    width: 100%;
    margin: auto;
    text-align: center;
}
.course-img img{
    width: 100%;
    transition: 0.5s;
    margin: auto;
    margin-bottom: 15px;
}
.course-text{
    text-align: left;
    padding: 10px 25px;
    color: #25354e;
}
.course-text h3{
    font-size: 18px;
}
.course-text h4{
    font-size: 16px;
    margin: 13px 0 5px;
}
.course-text h5{
    margin: 20px 0 5px;
    font-weight: normal;
}
.course-text h6{
    padding: 10px;
    font-size: 12px;
    margin-top: 10px;
    text-align: right;
}
.course-text h6 i{
    color: #f59242;
}
.course-text p{
    font-size: 11px;
}
@media (max-width:1000px){
    .course-col{
        margin: 10px 0;
    }
    .course-title{
        margin-top: 10px;
    }
}


.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border: 1px solid #5B84c4;
    padding: 12px 34px;
    font-size: 13px;
    background: #5B84c4;
    /* background: #f59242; */
    position: relative;
    transition: 0.5s;
}
.button:hover{
    border: 1px solid #ff9035;
    background: #f59242;   
}

/* -------Alvin-Testi-FOOTER--------- */

.testi{
	display: flex;
	justify-content: space-between;
    padding: 20px 250px;
}
.testi-1{
	width: 50%;
	padding-top: 5%;
    margin-right: 50px;
}
.testi-1 h2{
	font-size: 23px;
    margin: 10px 0 15px;
}
.testi-1 p{
    font-size: 12px;
}
.testi-2{
	width: 50%;
	padding-bottom: 3%;
}
.testi-2 img{
	width: 100px;
	margin: auto;
}
.testi-2 a .prev{
    color: #F58634;
}
@media (max-width:1000px){
    .testi{
        flex-direction: column;
        margin: auto;
        padding: 22px 0;
    }
    .testi-1{
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .testi-2{
        margin: auto;
    }
}

/* ------------COMPANIES------------- */
.companies{
	background-color: #fafafa; 
	padding-top: 27px;
	padding-bottom: 27px;
}
.companies p{
	text-align: center;
	font-size: 14px;
	margin-bottom: 2%;
}
.companies .companies-logo{
	text-align: center;
	overflow: auto; 
	display: flex; 
	justify-content: space-between;
	padding-left: 20%;
	padding-right: 20%;
}
.companies .companies-logo img{
	width: 150px;
}
@media (max-width:1000px){
    .companies-logo{
        flex-direction: column;
    }
    .companies-logo img{
        margin: auto;
        display: inline-block;
        width: 100px;
        margin-top: 15px;
    }
}


/* ------------FOOTER------------ */
.footer{
	background-color: #000;
    padding-top: 35px;
}
.footer .top-footer{
	overflow: auto; 
	display: flex; 
	justify-content: space-between;
	padding-left: 16%;
	padding-right: 16%;
}
.footer .txt-about{
	color: #fff;
}
.footer .txt-about p{
	color: #949494;
	font-size: 11px;
	cursor: pointer;
}
.footer .txt-about h5{
    margin-bottom: 15px;
}
.footer .txt-support{
	color: #fff;
}
.footer .txt-support h5{
    margin-bottom: 15px;
}
.footer .txt-support p{
	color: #949494;
	font-size: 11px;
	cursor: pointer;
    margin-bottom: 7px;
}
.footer .txt-support p:hover{
	color: #F58634;
	cursor: pointer;
}
.footer .txt-social-media{
	color: #fff;
	width: auto;
}
.footer .txt-social-media .container-icon{
	text-align: center;
	display: inline-flex;
}
.footer .txt-social-media h5{
    margin-bottom: 15px;
}
.footer .txt-social-media .twitter-icon img{
	width: 28px;
	margin-right: 5px;
}
.footer .txt-social-media .twitter-icon:hover img{
	width: 28px;
	cursor: pointer;
}
.footer .txt-social-media .twitter-icon:not(:hover) img{
	width: 28px;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
	opacity: .75;
	cursor: pointer;
}
.footer .txt-social-media .fb-icon img{
	width: 28px;
	margin-right: 5px;
}
.footer .txt-social-media .fb-icon:hover img{
	width: 28px;
	cursor: pointer;
}
.footer .txt-social-media .fb-icon:not(:hover) img{
	width: 28px;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
	opacity: .75;
	cursor: pointer;
}
.footer .txt-social-media .ig-icon img{
	width: 28px;
	margin-right: 5px;
}
.footer .txt-social-media .ig-icon:hover img{
	width: 28px;
	cursor: pointer;
}
.footer .txt-social-media .ig-icon:not(:hover) img{
	width: 28px;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
	opacity: .75;
	cursor: pointer;
}
.footer .txt-social-media .linkedin-icon img{
	width: 28px;
	margin-right: 5px;
}
.footer .txt-social-media .linkedin-icon:hover img{
	width: 28px;
	cursor: pointer;
}
.footer .txt-social-media .linkedin-icon:not(:hover) img{
	width: 28px;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
	opacity: .75;
	cursor: pointer;
}
.footer .mid-footer{
	padding-left: 16%;
	padding-right: 16%;
	padding-bottom: 1%;
    margin-top: 35px;
}
.footer .bot-footer{
	padding-left: 16%;
	padding-right: 16%;
	padding-bottom: 1.5%;
	display: flex; 
}
.footer .bot-footer img{
	width: 150px;
}
.footer .bot-footer p{
	color: #949494;
	font-size: 10px;
	text-align: center;
	margin-left: 25%;
	margin-top: 10px;
}
@media (max-width:1000px){
    .top-footer{
        text-align: center;
		display: inline-block;
		flex-direction: column;
    }
	.top-footer .txt-social-media img{
		margin: 10px;
        display: inline-block;
        width: 20px;
		text-align: center;
	}
    .top-footer h5{
        margin-top: 15px;
    }
	.bot-footer{
        margin: auto;
		text-align: center;
		flex-direction: column;
		display: inline-block;
    }
    .bot-footer img{
        margin: auto;
        width: 100px;
        margin-top: 15px;
		margin-bottom: 15px;
    }
	.bot-footer p{
        margin-right: 16%;
    }
}

#top img{
	padding: 1rem;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 40px;
	transform: scale(0.7);
	transition: all 0.4s ease;
}
#top:hover img{
	transform: scale(0.8);
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #949494;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
